<?xml version="1.0" encoding="utf-8"?>
<Connection.Config>
  <SellerID>1</SellerID>
  <ScopeInit>TRUE</ScopeInit>

  <Server_Connection>3</Server_Connection>
  <Client_Connection>4</Client_Connection>


  <SQL-Server id ="1">
    <Connection>Data Source=localhost;Initial Catalog=vi_server;Integrated Security=True;</Connection>
  </SQL-Server>

  <SQL-Server id ="2">
    <Connection>Data Source=localhost;Initial Catalog=vi_client;Integrated Security=True;</Connection>
  </SQL-Server>



  <SQL-Server id="3">
    <Connection>Data Source=VI_Server;Initial Catalog=vi_server;User ID=admin;Password=admin;</Connection>
  </SQL-Server>


  -<SQL-Server id="4">
    <Connection>Data Source=VI_Server;Initial Catalog=vi_client;User ID=admin;Password=admin;</Connection>
  </SQL-Server>

</Connection.Config>